fastapi
uvicorn[standard]
sqlalchemy
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
scikit-learn
requests
python-dotenv
aiofiles
ibmcloudant
duckduckgo-search
